<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server rendered page</title>
</head>
<body>
<div id="flux">{{{ body }}}</div>
<script src="bundle.js"></script>
</body>
</html>
